In [25]:
#1.Calculate the sum, difference, product, and quotient of two numbers.

a=20
b=5

# Calculate the sum of the two numbers.
sum = a + b

# Calculate the difference of the two numbers.
difference = a - b

# Calculate the product of the two numbers.
product = a * b

# Calculate the quotient of the two numbers.
quotient = a/b

# Print the results.
print("The sum of the two numbers is:", sum)
print("The difference of the two numbers is:", difference)
print("The product of the two numbers is:", product)
print("The quotient of the two numbers is:", quotient)

The sum of the two numbers is: 25
The difference of the two numbers is: 15
The product of the two numbers is: 100
The quotient of the two numbers is: 4.0

In [6]:
#2.Perform various assignment operations on a variable.
a = 20

# Assign the value of a to b.
b = a

# Add 5 to the value of a and assign it to c.
c = a + 5

# Subtract 5 from the value of a and assign it to d.
d = a - 5

# Multiply the value of a by 5 and assign it to e.
e = a * 5

# Divide the value of a by 5 and assign it to f.
f = a / 5

# Print the values of the variables.
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)
print("f =", f)

a = 20
b = 20
c = 25
d = 15
e = 100
f = 4.0

In [24]:
#3.Compare two numbers and print the results.
a= 8
b= 7
if a>b:
  print("a is greater")
else:
  print("b is greater")

a is greater

In [21]:
#4.Check conditions using logical operators.

# Check if both conditions are true.
if (a == b) and (c == d):
  print("Both conditions are true.")

# Check if at least one condition is true.
if (a == b) or (c == d):
  print("At least one condition is true.")

# Check if the first condition is true and the second condition is false.
if (a == b) and not(c == d):
  print("The first condition is true and the second condition is false.")

# Check if the first condition is false and the second condition is true.
if not(a == b) and (c == d):
  print("The first condition is false and the second condition is true.")

At least one condition is true.
The first condition is true and the second condition is false.

In [20]:
#5.Check the identity of variables.

a = 20
b = 20
c = a

# Check if a and b are the same object.
print(a is b)

# Check if a and c are the same object.
print(a is c)

# Check if a and b have the same value.
print(a == b)

# Check if a and c have the same value.
print(a == c)

True
True
True
True

In [26]:
#6.Perform bitwise operations on any two integers.

a = 20
b = 4

# Bitwise AND
print(a & b)

# Bitwise OR
print(a | b)

# Bitwise XOR
print(a ^ b)

# Bitwise NOT
print(~a)

# Bitwise left shift
print(a << 2)

# Bitwise right shift
print(a >> 2)

4
20
16
-21
80
5

In [27]:
#7.Use unary operators to change the sign of a number.
a = 10
a = -a
# Print the value of the variable.
print(a)

-10

In [17]:
#8.Use the ternary operator to assign values based on conditions.
a = 10
b = 5
c = a if a > b else b
print(c)

10