In [1]:
#1.convert an integer to a floating point number
a=5
b=float(a)
print(b)

5.0

In [5]:
#2.convert a float to an integer.
a=5.3
b=int(a)
print(b)

5

In [7]:
#3.convert an integer to a string.
a=4
b=str(a)
type(b)

str

In [11]:
#4.convert a list to a tuple.
a=[1, 2, 'pw skill', 'data science', 4, 5]
b=tuple(a)
print(b)

(1, 2, 'pw skill', 'data science', 4, 5)

In [9]:
#5.convert a tuple to a list.
a=(1,2,"pw skill","data science",4,5)
b=list(a)
print(b)

[1, 2, 'pw skill', 'data science', 4, 5]

In [17]:
#6.convert a decimal number to a binary.
a = 4
b = bin(a)
print(b)

0b100

In [ ]:
#7.convert a non-zero number to boolean.

a = 4
b = bool(a)
print(b)